@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset */

/* Begin site styling */

body {
  font-family: "Open Sans", Arial;
  font-size: 24px;
  font-weight: 400;
  color: WhiteSmoke;
  background: #404040;
  }

/* Section definitions */

.section1 {
  width: 100%;
  height: 750px;
  padding-top: 200px;
  background: #404040;
  color: WhiteSmoke;
}

.section2 {
  width: 100%;
  height: 750px;
  padding-top: 200px;
  background: Gold;
  color: #404040;
}

.section3 {
  width: 100%;
  height: 750px;
  padding-top: 200px;
  background: Red;
  color: #404040;
}

.section4 {
  width: 100%;
  height: 750px;
  padding-top: 200px;
  background: Blue;
  color: #404040;
}

.section5 {
  width: 100%;
  height: 750px;
  padding-top: 200px;
  background: #404040;
  color: WhiteSmoke;
}

.section6 {
  width: 100%;
  height: 750px;
  padding-top: 200px;
  background: White;
  color: #404040;
}

.section7 {
  width: 100%;
  height: 750px;
  padding-top: 200px;
  background: Green;
  color: #404040;
}


/* Section content */

.hello {
  padding-right: 50%;
  padding-left: 50%;
}

h1.header {
  font-family: "Raleway", Arial;
  font-weight: 600;
  font-size: xx-large;
  color: WhiteSmoke;
}

h1.label {
  font-family: "Raleway", Arial;
  font-weight: 600;
  font-size: xx-large;
  color: Black;
  padding-top: 25px;
  padding-left: 50%;
  padding-right: 50%;
  }

p.about {
  font-size: large;
  color: Black;
  padding-top: 25px;
  padding-left: 30%;
  padding-right: 30%;
}

img.icon {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  padding-left: 40%;
  padding-right: 40%;
}

.links {
  text-align: center;
}

li {
  padding-bottom: 100px;
}

a {
  color: White;
}

.footer {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  background: #404040;
  color: WhiteSmoke;
  font-size: small;
  text-align: center;
}